body {
  font-family: 'Kaushan Script';
  background-color: rgba(255, 182, 193, 0.584);
}

.imageSize {
  width: 200px;
  
}

.imageContainer {
  text-align: center;
}

.nailPolishesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;;
}

.nailPolishItem {
  background-color: white;
  color: black;
  margin: 1em;
  padding: 1em;
  border: 0.25em solid black;
  width: 300px;
}

.nailPolishesContainer a {
  text-decoration: none;
}

.priceBrand {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
} 

h2 {
  margin-bottom: 0em;
}

h3, p {
  display: inline-block;
}

p {
  font-style: italic;
}

ul {
  list-style: none;
}

td {
  font-size: 15px;
  display: inline-block;
  padding: 15px;
  text-align: left;
}

h1 {
  text-align: center;
  margin-bottom: 0.01em;
}

h4 {
  text-align: center;
  margin-top: 0.01em;
}

.navUL {
  display: flex;
  text-align: center;
  justify-content: center;
}

.navLI {
  color: black;
  margin: 1em;
}

.navUL a {
  text-decoration: none;
}